@*@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ClothWebApplication.ViewModels.CreationViewModel

@{
    
}

<h1>Create</h1>

<hr />

<div class="row">
    <div class="col-6">

        <div class="card">

            <div class="card-header">
                <h5>Create a new Clothing Model</h5>
            </div>

            <div class="card-body">

                <form asp-controller="Create" asp-action="Index" method="post">

                    <div class="mb-3">
                        <label class="form-label">Model</label>
                        <select asp-for=SelectedModel class="form-select" asp-items="@Model.SelectModel" onclick="showOptions()" id="modelOption">
                            <option value="">--Select--</option>
                        </select>
                        <span asp-validation-for="SelectedModel" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Brand</label>
                        <select asp-for=SelectedBrand class="form-select" asp-items="@Model.BrandsSelectList">
                            <option value="">--Select--</option>
                        </select>
                        <span asp-validation-for="SelectedBrand" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Size</label>
                        <select asp-for=SelectedSize class="form-select" asp-items="@Model.SelectSize">
                            <option value="">--Select--</option>
                        </select>
                        <span asp-validation-for="SelectedSize" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Color</label>
                        <select asp-for=SelectedColor class="form-select" asp-items="@Model.SelectColor">
                            <option value="">--Select--</option>
                        </select>
                        <span asp-validation-for="SelectedColor" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Fabric</label>
                        <select asp-for=SelectedFabric class="form-select" asp-items="@Model.SelectFabric">
                            <option value="">--Select--</option>
                        </select>
                        <span asp-validation-for="SelectedFabric" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Inventory</label>
                        <input asp-for=Inventory type="number" class="form-control" />
                        <span asp-validation-for="Inventory" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Price</label>
                        <input asp-for=Price type="number" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="mb-3" style="display: none" id="pantsOption">
                        <label class="form-label">Waist Size</label>
                        <input asp-for="WaistSize" type="number" class="form-control"/>
                        <span asp-validation-for="WaistSize" class="text-danger"></span>
                    </div>

                    <div class="mb-3" style="display: none" id="jacketOption">
                        <label class="form-label">Has Hood</label>
                        <br />
                        <input asp-for="HasHood" type="checkbox" class="form-check-input" />
                        <span asp-validation-for="HasHood" class="text-danger"></span>
                        <br />
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>

                </form>

            </div>

            <div class="card-footer">
            </div>

        </div>

    </div>
</div>

<script>
    function showOptions() {

        var pantsDiv = document.getElementById("pantsOption");
        var jacketDiv = document.getElementById("jacketOption");
        var chosenModel = document.getElementById("modelOption").value;

        if (chosenModel === "Pants"){
            pantsDiv.style.display = "block";
            jacketDiv.style.display = "none";
        } 
        else if (chosenModel === "Jacket") {
            jacketDiv.style.display = "block";
            pantsDiv.style.display = "none";
        }
        else {
            pantsDiv.style.display = "none";
            jacketDiv.style.display = "none";
        }
    }
</script>